{% extends 'base.html' %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock csslink %}
{% block title %} Home Page | Article4 {% endblock title %}


{% block body %}
<div id="home-container">
    <div class="container">
        <h2>This blog has numerous articles that can assist you in your real-world, technical, and academic endeavours, among other things.</h2>
    </div>
</div>
<div id="grid">
    <section id="section">
        <h3>Latest Updates</h3>
        <div class="container-posts">
            <div class="left-post">
                {% for post in posts|slice:'0:1' %}
                <article class="post">
                    <div><img src="/media/{{post.image}}" alt=""></div>
                    <div class="left-content">
                        <h6>{{post.title|safe}}</h6>
                        <p><a href="{% url 'template_view' post.id %}">Read more . </a><span>4 min read</span></p>
                        <div>
                            <span><b style='font-size:14px;'>Tariq Ahmed </b><span style='font-size:12px;'>in </span><b
                                    style='font-size:14px;'>{{post.category}}</b></span>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
            <div class="right-posts">
                {% for post in posts|slice:'1:4' %}
                <article class="right-post">
                    <img src="/media/{{post.image}}" alt="">
                    <div class="right-content">
                        <h6>{{post.title|safe}}</h6>
                        <p><a href="{% url 'template_view' post.id %}">Read more . </a><span>4 min read</span></p>
                        <div>
                            <span><b style='font-size:14px;'>Tariq Ahmed </b><span style='font-size:12px;'>in </span><b
                                    style='font-size:14px;'>{{post.category}}</b></span>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
    </section>

    <aside id="aside">
        <h3>About World</h3>
        <p>The mango is perfect in that it is always yellow and if it’s not, I don’t want to hear about it. The mango’s
            only flaw, and it’s a minor one, is the effort it sometimes takes to undress the mango, carve it up in a way
            that makes sense, and find its way to the mouth.</p>
        <h4>Top Articles</h4>
    </aside>
</div>


{% endblock body %}
{% block jslink %}
<script src="{% static 'blog/js/home.js' %}"></script>
{% endblock jslink %}