{% extends 'base.html' %}
{% load static %}
{% block title %}
Signup | Article4u
{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock csslink %}
{% block body %}
<div class="container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form.visible_fields %}
        <div class="label">{{fm.label_tag}}</div>
        {{fm}}
        <span class="errors">{{fm.errors|striptags}}</span>
        {% endfor %}
        <input class="inputs submit" type="submit" value="Submit">
    </form>
</div>
{% endblock body %}