{% extends 'base.html' %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% endblock head %}
{% block title %} {{post.title}} {% endblock title %}
{% block csslink %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/templateview.css' %}">
{% endblock csslink %}
{% block body %}
<div class="container">
<article class="post">
<img src="/media/{{post.image}}" alt="">
<div class="mx-3 left-content">
<div>
<div class=""><strong>{{post.category}} </strong><span>| 9 MIN READ</span></div>
<h1 class="font-size my-4">{{post.title}}</h1>
<p><b>Written by</b> Tariq Ahmed</p>
</div>
</div>
<div class="content">
<p>
{{post.content|safe}}
</p>
</div>
</article>
</div>
{% endblock body %}

{% block jslink %}
<script src="{% static 'blog/js/home.js' %}"></script>
{% endblock jslink %}
