{% extends 'base.html' %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'blog/css/categories.css' %}">
{% endblock csslink %}
{% block title %} {{title}} {% endblock title %}

{% block body %}
<section id='sec'>
    <div class="container">
        {% for item in obj %}
        <article class="post">
            <img src="/media/{{item.image}}" alt="">
            <div>
                <span><b style='font-size:14px;'>Tariq Ahmed </b><span style='font-size:12px;'>in </span><b
                        style='font-size:14px;'>{{item.category}}</b></span>
            </div>
            <h6>{{item.title|safe}}</h6>
            <p>{{item.content|truncatewords_html:20|safe}}</p>
            <p><a href="{% url 'templateView' item.postId %}">Read more . </a><span>4 min read</span></p>
        </article>
        {% endfor %}
    </div>
</section>


<div class="container-box1">
    <section id='sec1'>
    </section>

    <aside id="aside">
        <h3>Most Read</h3>
    </aside>
</div>


<div class="btn1">
    <button id="bt">Load More</button>
</div>
{% endblock body %}

{% block jslink %}
<script src="{% static 'blog/js/categories.js' %}"></script>{% endblock jslink %}