.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    position: absolute;
    right: 0;
}

.mr--11 {
    margin-right: 11px;
}

.mr--8.active {
    margin-right: 8px;
}