/* font-family: 'Epilogue', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');

.container {
    font-family: 'Epilogue', sans-serif;
    width: 98vw;
    height: 90vh;
    display: flex;
}

.inputs {
    width: 100%;
    padding: 1em 4px;
    height: 3em;
}

/*This was for all three inputs */
#login-left {
    width: 60%;
}

#login-left img {
    height: 100%;
    width: 100%;
}

#login-right {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

#login-right form {
    width: 100%;
}

.label {
    font-size: 1.5em;
}

.submit {
    margin-top: 14px;
    background-color: #ffb9b9;
}

.submit:hover {
    color: aliceblue;
    background-color: #100e0e;
}

.errors {
    color: red;
}

@media only screen and (max-width:778px) {
    #login-left {
        display: none;
    }

    #login-right {
        width: 100%;
    }
}