@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');

.errors {
    color: red;
}

.container {
    font-family: 'Epilogue', sans-serif;
    width: 80vw;
}

.container form {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 1.3em;
}

.inputs {
    width: 60%;
    height: 2.5em;
    margin-bottom: 1em;
}

.submit {
    margin-top: 14px;
    background-color: #ffb9b9;
}

.submit:hover {
    color: aliceblue;
    background-color: #100e0e;
}